body {
  background-color: black;
  font-family: Helvetica, sans-serif;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}

.content {
  margin-left: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* header and navigation */
.header {
  background-color: black;
  width: 100%;
  height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid seashell;
}

.logo img {
  padding-left: 10px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 50px;
}

.navigation {
  padding-right: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.navlink span {
  display: inline-block;
  padding: 0 20px;
  text-decoration: underline;
}

.navlink a {
  color: seashell;
}

/* hero section */
.hero-image {
  background-image: url(/resources/img-mission-background.jpg);
  background-color: blue;
  margin-top: 80px;
  width: 1200px;
  height: 700px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
    background-color: black;
    width: 100%;
}

/* tea section */
.tea {
  margin-top: 0 auto;
  width: 1000px;
  display: inline-flex;
}

.tea-content {
  margin-top: 50px;
  text-align: center;
}

.tea-images {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.row-image {
  padding: 10px;
  display: block;
  justify-content: center;
  align-items: center;
}

.row-image img {
  width: 300px;
  height: 200px;
}

.row-image span {
  text-align: center;
  padding: 5px;
  display: block;
  margin-top: 10px;
}

/* locations */
.locations {
  background-image: url("./resources/images/img-locations-background.jpg");
  background-color: blue;
  width: 1200px;
  height: 600px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.locations-content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location-address {
  font-weight: normal;
  opacity: 1;
  background-color: black;
  min-width: 300px;
  margin: 0px 40px;
}

/* contact */
.contact {
  height: 200px;
  text-align: center;
}

/* footer */
.footer-content {
  margin-left: 20px;
  text-align: left;
}
